.botao {
  padding: 0.7rem;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 0.3rem;
  transition: ease-in-out 0.2s;
  width: 100%;
  font-size: 1.1rem;
}

.botao:hover {
  opacity: 0.8;
}
